<div>
    <form class="form">
        <label for="Email">
            Email:
        </label>
        <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
        <label for="Password">
            Password:
        </label>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        <button type="submit" class="btn btn-success" (click)="doLogin()">Login</button>
    </form>
</div>

<div *ngIf="returnedData !== undefined; else elseblock">
    <div *ngIf="returnedData.success else failureBlock">
        {{returnedData.message}}
    </div>
    <ng-template #failureBlock>
        Login Failed: {{returnedData.message}}
    </ng-template>
</div>
<ng-template #elseblock>
    <div>
        There is no message from server.
    </div>
</ng-template>
