<div class="container-fluid">
    <form class="form-group">
        <label for="FullName">Full Name: </label>
        <input type="text" [(ngModel)]="fullName" [ngModelOptions]="{standalone: true}" class="form-control">
        <label for="email">Email: </label>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control">
        <label for="password">Password: </label>
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary" (click)="Signup()">Sign Up</button>
    </form>
</div>

<div>
    {{fullName}}
    {{email}}
    {{password}}
</div>

<div *ngIf="err !== null else elseblock">
    The error is {{err}}
</div>
<ng-template #elseblock>
    There is not error.
</ng-template>

<div *ngIf="returnValue !== undefined">
    <div *ngIf="returnValue.success else failureBlock">
        {{returnValue.message}}
    </div>
    <ng-template #failureBlock>
        "No record created": {{returnValue.message}}
    </ng-template>
</div>
